nav {
    height: 80px;
    color: #e8fdff;
    background-color: #00a087;
    padding: 0px 2em;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1
}

#nav-bar .logo {
    width:80px;
    height:80px;
    float: left;
}

#nav-bar .header {
    position: relative;
    left: 10px;
    font-size: 2em;
    line-height:80px
}

#nav-bar button {
    background-color: #e8fdff; 
    float: right;
    border: 1px solid black;
    border-radius:5%;
    margin-top: 20px;
    height:50px;
    color:#009999
}

#nav-bar button:hover {
    background-color: white; 
    float: right;
    border: 1px solid black;
    border-radius:5%;
    margin-top: 20px;
    height:50px;
    color:black
}

#nav-bar button:focus {
    outline: none;
  }

#nav-bar img {
    height: 1.2em;
    padding-right: 5px;
    color: #009999
}
