h2 {
    border-bottom: 1px solid #000000;
    margin-top: 0;
    padding-top: .2em;
}

.new-tweet {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 2%;
    margin: 0 auto 1em auto;
    padding: 0 .5em;
    position: relative;
    height: 150px;
    width: 90%
}

.new-tweet textarea {
    width: 100%
}

.counter {
    float: right;
    margin-top:5px;
    font-style:italic;
    font-size:15px
}