article.tweet header {
    border-radius: 2%;
    margin: 0 auto 1em auto;
    padding: 5px;
    position: relative;
    height: 60px;
    width: 100%; 
    border-color: #666666;
    background-color: #eeeeee;
    opacity: .8;
 }

 article.tweet {
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 0 auto 1em auto;
    width: 90%; 
 }

article.tweet img {
    height: 50px;
    width: 50px;
    float: left;
    border-radius: 3%
}
    
article.tweet .name {
    font: 1.5em bold;
    padding:5px
}

article.tweet .handle {
     float: right;
     padding-top:10px;
     font-size: 0.7em
}

p {
    margin-left: 5px;
    height: 50px;
    padding:5px;
    word-wrap: break-word;
}

article.tweet footer {
    height: 30px;
    border-top: 1px solid #eeeeee;
    padding: 7px;
    font-size: 10px
}

article.tweet .icons{
    float: right;
    visibility: hidden
}

article.tweet:hover .icons {
    float: right;
    color: #00a087;
    visibility: visible
}

 article.tweet:hover {
   border-color: #000;
 }
 article.tweet:hover header {
   opacity:1;
 }
 .fa {
    padding: 3px
 }
 
 .likesCounter {
    margin-left: 40px;
  }